---
layout: base
title: index
---
<header id="header" class="alt">
	<h1><a href="/"><img src="images/logo1.png" width="40" /></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="">Home</a></li>
		</ul>
	</nav>
</header>

<!-- Banner -->
<section id="banner">
	<img src="images/logo1.png" width="150" />
	<h2>Mona's Makerie</h2>
	<p>Skincare and Makeup Boutique</p>
</section>

<!-- Main -->
<section id="main" class="container">
	<section class="box special">
		<!--
		<div id="profile">
			<img id="pfp" src="images/profile.jpeg" />
		</div>
		-->
		<header class="major">
			<h2>Meet Mona,
			<br />
			Your Skincare Therapist And Makeup Artist.</h2>
			<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
			adipiscing nunc adipiscing. Condimentum turpis massa.</p>
		</header>

		<div id="waxing" class="box">
			<h2>Waxing</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.wax %}
				<div style="clear: both;">
					<h3 style="float: left;">{{ item.name | capitalize }}</h3>
					<h3 style="float: right;">${{ item.price }}</h3>
				</div>
				<br>
				<p></p>
				{% endfor %}
			</div>
		</div>	
		
		<div id="facials" class="box">
			<h2>Facials</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.facials %}
				<div style="clear: both;">
					<h3 style="float: left;">{{ item.name | capitalize }}</h3>
					<h3 style="float: right;">${{ item.price }}</h3>
				</div>
				<br>
				<p></p>
				{% endfor %}
			</div>
		</div>
	
		<div id="makeup" class="box">
			<h2>Makeup Services</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.makeup %}
				<div style="clear: both;">
					<h3 style="float: left;">{{ item.name | capitalize }}</h3>
					<h3 style="float: right;">${{ item.price }}</h3>
				</div>
				<br>
				<p></p>
				{% endfor %}
			</div>
		</div>
	
		<div id="devices" class="box">		
			<h2>Devices</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.devices %}
				<div style="clear: both;">
					<h3 style="float: left;">{{ item.name | capitalize }}</h3>
					<h3 style="float: right;">${{ item.price }}</h3>
				</div>
				<br>
				<p></p>
				{% endfor %}
			</div>
		</div>
		<!-- <span class="image featured"><img src="images/pic01.jpg" alt="" /></span> -->
	</section>
</section>