---
layout: base
title: Services
---

{% include nav.html %}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Services</h2>
		<p>Pricing for all available servies.</p>
	</header>

	<div class="box">
		<span class="image featured"><img src="/images/pic01.jpg" alt="" /></span>
	</div>
	<div id="waxing" class="box">
		<h2>Waxing</h2>
		<hr>
		<div class="row-6 row-12-mobilep">
			{% for item in site.data.pricing.wax %}
			<div style="clear: both;">
				<h3 style="float: left;">{{ item.name | capitalize }}</h3>
				<h3 style="float: right;">${{ item.price }}</h3>
			</div>
			<br>
			<p></p>
			{% endfor %}
		</div>
	</div>	
	
	<div id="facials" class="box">
		<h2>Facials</h2>
		<hr>
		<div class="row-6 row-12-mobilep">
			{% for item in site.data.pricing.facials %}
			<div style="clear: both;">
				<h3 style="float: left;">{{ item.name | capitalize }}</h3>
				<h3 style="float: right;">${{ item.price }}</h3>
			</div>
			<br>
			<p></p>
			{% endfor %}
		</div>
	</div>

	<div id="makeup" class="box">
		<h2>Makeup Services</h2>
		<hr>
		<div class="row-6 row-12-mobilep">
			{% for item in site.data.pricing.makeup %}
			<div style="clear: both;">
				<h3 style="float: left;">{{ item.name | capitalize }}</h3>
				<h3 style="float: right;">${{ item.price }}</h3>
			</div>
			<br>
			<p></p>
			{% endfor %}
		</div>
	</div>

	<div id="devices" class="box">		
		<h2>Devices</h2>
		<hr>
		<div class="row-6 row-12-mobilep">
			{% for item in site.data.pricing.devices %}
			<div style="clear: both;">
				<h3 style="float: left;">{{ item.name | capitalize }}</h3>
				<h3 style="float: right;">${{ item.price }}</h3>
			</div>
			<br>
			<p></p>
			{% endfor %}
		</div>
	</div>
</section>