---
layout: base
title: Services
---

<!-- Main -->
<section id="main" class="container">
	<header>
		<h2 style="font-size: 60px; margin: 0 0 0 0;"><b>Mona's Menu</b></h2>
	</header>

    <section class="box special">
		<div id="makeup" style="padding:40px; padding-top: 10px;">
			<h2>Makeup</h2>
			<hr>
			{% for item in site.data.pricing.makeup %}
				<div id="service-title" class="row-6 row-12-mobilep">
					<div class="col-9">
						<h3 style="text-align: left;">{{ item.name }}</h3>
					</div>
				</div>
				<div class="row-6 row-12-mobilep" style="text-align: left; height: 30px">
					{% if item.time %}
						<h4><b>${{ item.price }} | </b><b>{{ item.time }} minutes</b></h4>
					{% endif %}

					{% if item.description %}
						<p>{{ item.description }}</p>
					{% else %}
						</br>		
					{% endif %}
				</div>
				<hr style="width:50%; text-align: center; margin-left:auto; margin-right: auto;">
			{% endfor %}
		</div>

		<div id="facials" style="padding:40px;">
			<h2>Facials</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.facials %}
					<div id="service-title" class="row-6 row-12-mobilep">
						<div class="col-9">
							<h3 style="text-align: left;">{{ item.name }}</h3>
						</div>
					</div>
					<div class="row-6 row-12-mobilep" style="text-align: left">
						{% if item.time %}
						<h4><b>${{ item.price }} | </b><b>{{ item.time }} minutes</b></h4>
						{% endif %}

						{% if item.description %}
							<h4>{{ item.description }}</h4>
						{% else %}
							</br>		
						{% endif %}
					</div>
					<hr style="width:50%; text-align: center; margin-left:auto; margin-right: auto;">
				{% endfor %}
			</div>
		</div>
	
		<div id="devices" style="padding:40px;">		
			<h2>Skincare Modalities</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.devices %}
					<div id="service-title" class="row-6 row-12-mobilep">
						<div class="col-9">
							<h3 style="text-align: left;">{{ item.name }}</h3>
						</div>
					</div>
					<div class="row-6 row-12-mobilep" style="text-align: left">
						{% if item.time %}
						<h4><b>${{ item.price }} | </b><b>{{ item.time }} minutes</b></h4>
						{% endif %}

						{% if item.description %}
							<h4>{{ item.description }}</h4>
						{% else %}
							</br>		
						{% endif %}
					</div>
					<hr style="width:50%; text-align: center; margin-left:auto; margin-right: auto;">
				{% endfor %}
			</div>
		</div>

		<div id="waxing" style="padding:40px;">
			<h2>Waxing</h2>
			<hr>
			<div class="row-6 row-12-mobilep">
				{% for item in site.data.pricing.wax %}
					<div id="service-title" class="row-6 row-12-mobilep">
						<div class="col-9">
							<h3 style="text-align: left;">{{ item.name }}  </h3>
						</div>
					</div>
					<div class="row-6 row-12-mobilep" style="text-align: left; height: 30px">
						{% if item.time %}
						<h4><b>${{ item.price }} | </b><b>{{ item.time }} minutes</b></h4>
						{% endif %}

						{% if item.description %}
							<h4>{{ item.description }}</h4>
						{% else %}
							</br>		
						{% endif %}
					</div>
					<hr style="width:50%; text-align: center; margin-left:auto; margin-right: auto; margin-top: 15px; margin-bottom: 15px;">
				{% endfor %}
			</div>
		</div>	
	</section>
</section>