<!-- Header -->
<header id="header">
    <h1><a href="/"><img src="../images/logo1.png" width="40" /></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/services" class="icon solid fa-angle-down">Services</a>
                <ul>
                    <li><a href="">Makeup</a></li>
                    <li><a href="">Facial Treatments</a></li>
                    <li><a href="">Waxing</a></li>
                    <li><a href="">Facial Add-Ons</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>