<!-- Navbar -->
<h1><a href="/"><img src="../images/logo1.png" width="40" /></a></h1>
<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/services" class="icon solid fa-angle-down">Services</a> <ul>
                <li><a href="/services#makeup">Makeup</a></li>
                <li id="scroll2"><a href="/services#facials">Facial Treatments</a></li>
                <li id="scroll3"><a href="/services#waxing">Waxing</a></li>
                <li id="scroll4"><a href="/services#devices">Skincare Devices</a></li>
            </ul>
        </li>
    </ul>
</nav>