<!DOCTYPE HTML>
<html>
	<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158656421-4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158656421-4');
        </script>

        {% if page.title == "Mona's Makerie" %}
        <title>Mona's Makerie</title>
        {% else %}
        <title>{{ page.title }} | Mona's Makerie</title>
        {% endif %}
        <link rel="icon" href="../../images/logo1.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css"/>
        {% feed_meta %}
        {% seo %}
    </head>

    {% if page.title == "Mona's Makerie" %}
    <body class="landing is-preload">
    {% else %}
    <body class="is-preload">
    {% endif %}
		<div id="page-wrapper">
            {% if page.title == "Mona's Makerie" %}
            <header id="header" class="alt">
            {% else %}
            <header id="header">
            {% endif %}
                {% include nav.html %}
            </header>
            {{ content }}
            
            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="https://www.facebook.com/Monas-Makerie-LLC-489182424446135/" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                    <li><a href="https://instagram.com/monasmakerie" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>Mona's Makerie LLC. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>
        </div>
		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>